<!DOCTYPE html>
<html lang="en">
<title>login form</title>
<head>

    <form id="form1" name="form1" method="post" action="/login">
  <table width="200" border="1">
    <tr>
      <td>Username</td>
      <td><label>
        <input type="text" name="un" />
      </label></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label>
        <input type="text" name="pwd" />
      </label></td>
    </tr>
    <tr>
      <td><label>
        <input type="submit" name="Submit" value="Sign In" />
      </label></td>
      <td><a href="#">Register</a></td>
    </tr>
  </table>
</form>

</head>
<body>

</body>
</html>