
{% extends 'aindex.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/admin_add_product_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div class="card">
    <div class="card-body">
  <table width="582" height="635" border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <th>Name</th>
      <td><label for="textfield1"></label>
      <input type="text" name="textfield1" class="form-control" id="textfield1" /></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" class="form-control" id="textfield2" /></td>
    </tr>
    <tr>
      <th>Image</th>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" class="form-control-file" id="fileField" /></td>
    </tr>
    <tr>
      <th>Category</th>
      <td><select name="jumpMenu" id="jumpMenu" class="form-control" onchange="MM_jumpMenu('parent',this,0)">
      {% for i in data %}
        <option value="{{ i['Category_id']}}">{{ i['Categoryname']}}</option>
        {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><label for="textfield3"></label>
        <textarea name="textfield3" id="textfield3" class="form-control" ></textarea></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" class="btn btn-danger" id="button" value="Add" /></td>
    </tr>
  </table>
  </div>
  </div>
</form>
</body>
</html>
{% endblock %}