{% extends 'aindex.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div class="card">
    <div class="card-body">
  <table width="505"  border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <th>SL</th>
      <th>Name</th>
      <th>Description</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;{{ i["Categoryname"] }}</td>
      <td>{{ i["Description"] }}&nbsp;</td>
      <td><a href="/edit_admin_category_management/{{ i['Category_id'] }}#abc">Edit</a></td>
      <td><p><a href="/delete_admin_category_management/{{ i['Category_id'] }}" onclick="return confirm('Are you sure!')">Delete</a></p></td>
    </tr>
    {% endfor %}
  </table>
    </div>
  </div>
</form>
</body>
</html>

{% endblock %}
