{% extends 'aindex.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/view_admin_order_more_post">
  <div class="card">
    <div class="card-body">
  <table width="845" height="308" border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <th>SL</th>
      <th>Date</th>
      <th>ProductName</th>
      <th>Image</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Amount</th>
    </tr>
    {% for i in data %}
    <tr>

      <td>&nbsp;{{ loop.index }}</td>
      <td>{{ i['DeliveryDate'] }}</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>&nbsp;<img src="{{ i['image'] }}" width="200px" height="200px" /></td>
      <td>&nbsp;{{ i['description'] }}</td>
      <td>&nbsp;{{ i['Categoryname'] }}</td>
      <td>&nbsp;{{ i['price'] }}</td>
      <td>&nbsp;{{ i['Quantity'] }}</td>
      <td> {{ i['Amount'] }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="9">Total
       </td>
    </tr>
  </table>
    </div>
  </div>
</form>
</body>
</html>

{% endblock %}
