{% extends 'aindex.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/view_admin_refund_post">
  <div class="card">
    <div class="card-body">
  <table width="819" height="246" border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <th>SL</th>
      <th>Date</th>
      <th>Name</th>
      <th>ProductName</th>
      <th>Reason</th>
      <th>Status</th>
      <th>Amount</td>

    </tr>
     {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['Date'] }}</td>
      <td>&nbsp;{{ i['username'] }}</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>&nbsp;{{ i['Reason'] }}</td>
      <td>&nbsp;{{ i['Status'] }}</td>
      <td>&nbsp;{{ i['Amount'] }}</td>

    </tr>
    {% endfor %}
  </table>
    </div>
  </div>
</form>
</body>
</html>
{% endblock%}