<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>ADMIN HOME</h1>
<br>
<br>
<a href="/admin_add_product">Add Product</a>
<br>
<a href="/admin_categories">Add Categories</a>
<br>
<a href="/view_admin_category_management">Categories Management</a>
<br>
<a href="/view_admin_product_manage">Product Management</a>
<br>
<a href="/view_admin_feedback"> Feedback </a>
<br>
<a href="/view_admin_orders">Orders</a>
<br>
<a href="/view_admin_custom_order">Custom Orders</a>
<br>
<a href="/view_admin_payment">Payment</a>
<br>
<a href="/view_admin_refund">Refund</a>


</body>
</html>